<link rel="stylesheet" href="/css/home.css">
<div id="assignedReview" class="review-section">
<h2>Assigned Reviews</h2>
<div id="assignReviews-div">

    <%for(let AssignedReview of user.assignedReviews){%>
        <form action="completeReview" method="post">
            <label for="">To : <%=AssignedReview.toUser.name%></label>
            <textarea id="message" name="message" placeholder="Enter Review comments" required></textarea>
            <input type="hidden" name="toUser" value="<%=AssignedReview.toUser._id%>">
            <button type="submit">Submit</button>
        </form>
            <%}%> 
    
</div>

</div>
<div id="myReview" class="review-section">
    <h2>My Reviews</h2>
    
    <%for(let MyReview of user.myReviews){%>
    <div id="myReviews-div">
        <p>From : <%=MyReview.fromUser.name%></p>
        <p>Review : <span ><%=MyReview.message%></span></span>
          <hr>
          <%}%> 
    </div><p>
  
</div>